@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@200;400;700&display=swap');
body{
    font-family: 'Roboto Mono', monospace;
    color: #012D38;
}
p, li{
    font-family: 'Roboto', sans-serif;
}